@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


a.active{
  background-color: #9F9F9F;
}





